In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./dataset_template.csv')

In [3]:
df

,book_name,book_author,year,Publisher
0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp
...,...,...,...,...
271355,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,Republic (World's Classics),Plato,1996,Oxford University Press
271359,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [4]:
df['is_reserved'] = np.random.choice([0, 1], len(df))

In [5]:
df['reserver_card_id'] = -1
mask = df['is_reserved'] == 1
df.loc[mask, 'reserver_card_id'] = np.random.choice(range(len(df)), size=sum(mask), replace=False)

In [6]:
df

,book_name,book_author,year,Publisher,is_reserved,reserver_card_id
0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,1,187198
1,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,0,-1
2,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,1,158634
3,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,1,120560
4,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp,1,242148
...,...,...,...,...,...,...
271355,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),1,206563
271356,From One to One Hundred,Teri Sloat,1991,Dutton Books,1,213867
271357,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,0,-1
271358,Republic (World's Classics),Plato,1996,Oxford University Press,0,-1
271359,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,0,-1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   book_name         271359 non-null  object
 1   book_author       271327 non-null  object
 2   year              271352 non-null  object
 3   Publisher         271357 non-null  object
 4   is_reserved       271360 non-null  int64
 5   reserver_card_id  271360 non-null  int64
dtypes: int64(2), object(4)
memory usage: 12.4+ MB

In [8]:
df = df.dropna()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271315 entries, 0 to 271359
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   book_name         271315 non-null  object
 1   book_author       271315 non-null  object
 2   year              271315 non-null  object
 3   Publisher         271315 non-null  object
 4   is_reserved       271315 non-null  int64
 5   reserver_card_id  271315 non-null  int64
dtypes: int64(2), object(4)
memory usage: 14.5+ MB

In [10]:
df.to_csv('./dataset.csv', index=False)